.mainGuia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin: 2vh;
}

.mainGuia p:hover{
  font-weight: 700;
}
.divTituloGuia {
  font-size: 20px;
  font-weight: 700;
  color: darkslategray;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.subtitulosGuia {
  font-size: 16px;
  font-weight: 700;
  color: darkslategray;
}

.divIframeGuia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 4vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
